<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDT3gVJG5d50-UyQOo1dPLD0XWIda0gjEA</string>
	<key>GCM_SENDER_ID</key>
	<string>296524454427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testflutter</string>
	<key>PROJECT_ID</key>
	<string>trestfirflutterrr</string>
	<key>STORAGE_BUCKET</key>
	<string>trestfirflutterrr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296524454427:ios:40cdfadd75463ff6b5b6be</string>
</dict>
</plist>